<div class="starter-template">
  <%= image_tag "monthly_mahjong.svg", width: 220 %>
  <p class="lead">숭실에서 마작마작한 사람들의 월간 기록입니다.</p>
</div>
<div>
  <table class="table table-hover table-sorter tablesorter tablesorter-default">
    <thead>
    <tr>
      <th class="text-center" width="22">#</th>
      <th>이름</th>
      <th class="text-center">승점</th>
      <th class="hidden-xxs text-center">승점률</th>
      <th class="text-center">승률</th>
      <th class="hidden-xs text-center">1,2%</th>
      <th class="hidden-xs text-center">+%</th>
      <th class="hidden-xs text-center">-2%</th>
      <th class="hidden-xs text-center">+3%</th>
      <th class="hidden-xs text-center">4%</th>
      <th class="hidden-xxs text-center">승</th>
      <th class="hidden-xs text-center">2</th>
      <th class="hidden-xs text-center">3</th>
      <th class="hidden-xs text-center">4</th>
      <th class="hidden-xxs text-center">순율</th>
      <th class="text-center">국수</th>
    </tr>
    </thead>
    <tbody>
      <% @record.each_with_index do | user, index| %>
        <tr>
          <td class="text-center"><%= index + 1%></td>
          <td><%= user.nickname %></td>
          <td class="text-right"><%= "%g" % (user.sum_point / 1000.0) %></td>
          <td class="hidden-xxs text-right"><%= "%g" % ((user.sum_point / 1000.0 / (user.log_count)).round 2) %></td>
          <td class="text-right"><%= "%g" % (user.logs.in_time_range(@range).where(grade: 0).length / (user.log_count) * 100).round(1) %></td>
          <td class="hidden-xs text-right"><%= "%g" % (user.logs.in_time_range(@range).where(grade: [0, 1]).length / user.log_count * 100).round(1) %></td>
          <td class="hidden-xs text-right"><%= "%g" % (user.logs.in_time_range(@range).where("point >= 0").length / user.log_count * 100).round(1) %></td>
          <td class="hidden-xs text-right"><%= "%g" % (user.logs.in_time_range(@range).where("point < 0 and grade > 2").length / user.log_count * 100).round(1) %></td>
          <td class="hidden-xs text-right"><%= "%g" % (user.logs.in_time_range(@range).where("point > 0 and grade < 3").length / user.log_count * 100).round(1) %></td>
          <td class="hidden-xs text-right"><%= "%g" % (user.logs.in_time_range(@range).where(grade: 3).length / user.log_count * 100).round(1) %></td>
          <td class="hidden-xxs text-center"><%= user.logs.in_time_range(@range).where(grade: 0).length %></td>
          <td class="hidden-xs text-center"><%= user.logs.in_time_range(@range).where(grade: 1).length %></td>
          <td class="hidden-xs text-center"><%= user.logs.in_time_range(@range).where(grade: 2).length %></td>
          <td class="hidden-xs text-center"><%= user.logs.in_time_range(@range).where(grade: 3).length %></td>
          <td class="hidden-xxs text-right"><%= "%g" %
              ((
                  user.logs.in_time_range(@range).where(grade: 0).length +
                  user.logs.in_time_range(@range).where(grade: 1).length * 2 +
                  user.logs.in_time_range(@range).where(grade: 2).length * 3 +
                  user.logs.in_time_range(@range).where(grade: 3).length * 4
              ) / user.log_count).round(2)
          %></td>
          <td class="text-right"><%= "%g" % user.log_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_tag('#') do -%>
      <select name="type" class="form-control">
        <option value="daily">일간</option>
        <option value="monthly" selected>월간</option>
        <option value="quater">분기간</option>
        <option value="yearly">연간</option>
      </select>
      <select name="year" class="form-control">
        <option value="daily">일간</option>
        <option value="monthly" selected>월간</option>
        <option value="quater">분기간</option>
        <option value="yearly">연간</option>
      </select>
  <% end -%>
</div>
